# Gradle
.gradle/
build/
out/
*.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/
*.code-workspace

# Eclipse
.classpath
.project
.settings/
bin/

# macOS
.DS_Store

# Windows
Thumbs.db

# Minecraft
run/
*.log
